<<<<<<< HEAD
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .logo {
  width: 80vw;
}

.App .subtitle {
  font-weight: 400;
  color: white;
  font-size: 20px;
}
>>>>>>> 78499f6c633412b1b39d602f5fa4cc578b695566
