* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin-bottom: 70px;
    background: #f1f1f1;
}

#searchInput {

    height: 30px;
    width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid transparent;
    transition: .2s;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.1);

    &::placeholder {
        color: rgb(25, 133, 161);
    }

    &:hover {
        background: white;
    }

    &:focus {
        outline: none;
        border: 2px solid rgba(25, 133, 161, 0.6);
        background: white;
    }
}

.desktop-header {
    
    @media (max-width: 900px) {
        display: none;
    }

    height: 50px;
    background: #1985A1;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    z-index: 110;

    .logo {
        height: 100%;

        img {
            height: 100%;
        }
    }

    #searchInput {

        height: 30px;
        width: 300px;
        padding-left: 15px;
        padding-right: 15px;
        border: 2px solid transparent;
        transition: .2s;
        border-radius: 15px;
        background: rgba(255,255,255,0.5);

        &::placeholder {
            color: rgb(25,133,161);
        }

        &:hover {
            background: white;
        }

        &:focus {
            outline: none;
            border: 2px solid rgba(25,133,161,0.6);
            background: white;
        }
    }

    nav {
        display: flex;
        gap: 25px;

        a {
            color: white;
        }
    }
}

.mobile-header {

    @media (min-width: 901px) {
            display: none;
    }

    width: 100vw;
    margin-bottom: 50px;

    .mobile-header-container {
        height: 40px;
        background: rgba(255,255,255,0.8);
        width: 100vw;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 100;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

        .mobile-header-button {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 15px;
            }
        }

        .logo {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 30px;
            }
        }

        nav {
            position: fixed;
            bottom: 10px;
            left: 10px;
            right: 10px;
            background: white;
            z-index: 100;
            height: 50px;
            border-radius: 50px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

            .link-mobile {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5px;
                height: 50px;
                width: 75px;
                border-top: 4px solid transparent;
                transition: .2s;

                img {
                    width: 20px;
                    fill: white;
                }

                a {
                    color: rgba(0, 0, 0, 0.7);
                }
            }

            .active-link {
                border-top: 4px solid rgb(25, 133, 161);
            }
        }
    }
}

.App {
    // min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cards-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
    transition: 2s;
}

.mobile-overview-wrapper {

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;;

    button {
        width: 100px;
        padding: 10px;
        font-size: 18px;
        color: rgb(25, 133, 161);
        background: white;
        border: none;
        border-radius: 10px;

        &:before {
            color: white;
        }
    }
}


.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(25, 133, 161);
    position: absolute;
    color: white;
    text-align: center;

    .logo-home {
        width: 200px;
        position: absolute;
        top: 0;
    }

    .slider-img {
        height: 30vh;
    }

    h2 {
        width: 320px;
        font-size: 30px;
        margin: 25px 0;
        padding: 0 5px;
    }

    p {
        width: 320px;
        font-size: 18px;
        line-height: 1.6;
        padding: 0 5px;
    }
}

.slick-slider {
    width: 100vw;
    color: white;

    .slick-prev {
        z-index: 50;
        left: 10%;
        top: 20%;
    }

    .slick-next {
        z-index: 50;
        right: 10%;
        top: 20%;
    }

    li {
        color: white;
    }
}

.skip {
    all: unset;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
}

.button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button-white {
    color: rgb(25, 133, 161);
    background: white;
}

.button-blue {
    color: white;
    background: rgb(25, 133, 161);
}

.register-page {
    height: 80vh;
}

.profile {
    position: relative;
    
    .profile-card {
        width: 100vw;
        max-width: 450px;
        background: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: auto;
        position: relative;
        top: 100px;

        &__user-img {
            width: 150px;
            height: 150px;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                margin: -75px 0 0px 0;
                border: 3px solid rgb(25, 133, 161);
            }
        }

        &__user-info {
            margin-top: -60px;
            text-align: center;

            .label {
                font-weight: 700;
                margin-top: 25px;
            }

            .content {
                font-size: 24px;
            }

            .change-info {
                font-size: 12px;
                margin-top: 15px;
                margin-bottom: 15px;

                a {
                    color: rgb(25, 133, 161);
                }
            }
        }

        &__courses {
            width: 100%;
            text-align: center;
            background: rgb(25, 133, 161);
            border-radius: 0 0 10px 10px;
            color: white;
            margin-bottom: 90px;

            .label {
                font-weight: 700;
                margin-top: 25px;
            }

            .content {
                font-size: 24px;
            }

            button {
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }
    }
}

.favorites {

    .card {
        display: none;
    }

    .card:first-of-type {
        display: block;
    }

    .card:nth-of-type(3) {
        display: block;
    }
}

.dashboard {
    padding-bottom: 50px;

    .greeting {
        width: 90vw;
        max-width: 450px;
        margin: auto;

        h2 {
            margin: 15px 0;
            span {
                color:rgb(25, 133, 161);
            }
        }

        p {
            line-height: 1.4;
        }
    }

    .title {
        color: rgb(25, 133, 161);
        text-align: center;
        margin-top: 35px;
    }

    .not-started {
        text-align: center;
        margin-top: 25px;
    }

    button {
        margin-top: 20px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

.lessons-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        display: flex;
        gap: 25px;
        margin-top: 50px;
        margin-bottom: 25px;

        a {
            background:rgb(25, 133, 161);
            width: 100px;
            height: 40px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    h1 {
        margin: 25px;
    }

    .text-wrapper {
        margin-top: 25px;
        width: 90vw;
        max-width: 800px;
        font-size: 24px;
    }
}

.details {
    .details-img {
        width: 60vw;
    }

    text-align: center;;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1, h2, p {
        width: 90vw;
    }

    h1, h2 {
        margin-top: 25px;
    }
}

.lessons {
    text-align: center;

    ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 25px;
        justify-content: center;
        list-style-type: none;
        padding-left: 0;
        margin-left: 30px;

        .lesson-name {
            display: flex;
            color: black;
            margin: 25px;
            width: 200px;
            height: 40px;
            border: 2px solid black;
            align-items: center;
            justify-content: center;
        }

        .text-wrapper {
            p {
                margin-bottom: 25px;
            }
        }
    }
}

.quiz {
    text-align: center;

    .answer-section {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 100vw;
        align-items: center;
        margin-top: 20px;

        button {
            display: flex;
            width: 250px;
            height: 40px;
            align-items: center;
            justify-content: center;
            background: rgb(25, 133, 161);
            color: white;
            border: none;
        }
    }
}

.courses-title {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;

    h2 {
        margin-bottom: 15px;
        color: rgb(25, 133, 161);
    }
}